NODE_ENV=
PORT=3001

DB_HOST=itii-mysql
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=122m
JWT_REFRESH_EXPIRES_IN=1d

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

FRONTEND_URL=
